.icon {
  color: #3a8970;

  margin: 10px 10px 25px 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fff;

  width: 18vw;
  height: 30vh;

  border-radius: 10px;

  .razaoSocial,
  .cnpj,
  .endereco {
    padding: 13px 10px;
    .value {
      font-weight: 700;
      color: #3a8970;
    }

    .label {
      font-weight: 500;
      color: #6bb99e;
    }
  }
}
